body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e0e0e0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-top: 0;
}

a {
  text-decoration: none;
}

.margin-large {
  margin: 50px;
}

.margin {
  margin: 25px;
}

.margin-small {
  margin: 15px;
}

.cta {
  background-color:#add2ce;
}

.home-icon {
  font-size: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.home-link {
  display: block;
  width: 100%;
  font-size: 20px;
  padding: 15px 0;
  background-color: #00838f;
  color: white;
}

.home-link:hover {
  background-color: #066c75;
}

.home-img {
  width: 80%;
  margin: 10%;
  filter: grayscale(100%);
}

.home-img:hover {
  filter: grayscale(0%);
}

.float-right {
  float: right;
}

.align-center {
  text-align: center;
}

.weight-light {
  font-weight: 200;
}

.expanded {
  transform: rotate(180deg);
}